.border{
  border: 1px solid black;
}

body{
  background-color: yellow;
  color: black;
}

h1{
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;

}

#avatar{
  transform: rotate(-90deg);
}

p {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 400px;
    margin-right: 400px;
}